.container-main{
    max-width: 1200px;
    margin: auto;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    background-color: #fefefe;
}
nav{
    display: inline-block;
}
.article_pic{
    float: left;
}