.container-main{
    max-width: 1200px;
    margin: auto;
}
h1{
    text-align: center;
    background-color: #fefefe;
}
ul{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 2em;
    margin: 0;
}
a{
    margin: 2em;
    text-decoration: none;
}
.article_pic{
    float: left;
}
figure{
    margin: 0 25% 0 25%;
}
figcaption{
    padding: 1em 0em 1em 0em;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1em;
}
footer{
    background-color: aqua;
    text-align: center;
    padding: 2em;
}