.container-main{
    max-width: 1200px;
    margin: auto;
}
h1{
    text-align: center;
    background-color: #fefefe;
}
li{
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.article_pic{
    float: left;
}